.fg-features {
  background-color: #fff;
  color: #333;
  position: relative;
  padding: 40px 69px;

  .fg-hero-img {
    position: absolute;
    top: -50%;
    right: -15%;
    width: 75%;

    img {
      max-width: 100%;
    }
  }
}

.fg-feature {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  max-width: 490px;
  width: 100%;

  .fg-feature-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #92ab74;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    flex-shrink: 0;

    .feature-icons {
      width: 40px;
      height: 40px;
    }
  }

  .fg-feature-text {
    h3 {
      color: #125946;
      font-family: Asap;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0;
      margin-bottom: 5px;
    }

    p {
      color: #0c4a39;
      font-family: Asap;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
    }
  }
}

@media (max-width: 1024px) {
  .fg-features {
    padding: 102px 20px 10px;
  }

  .fg-hero-img {
    top: -25%;
    right: -25%;
    width: 75%;
  }

  .fg-feature-icon {
    .feature-icons {
      width: 20px !important;
      height: 20px !important;
    }
  }
}

@media (max-width: 767px) {
  .fg-hero-img {
    position: absolute;
    top: -10%;
    right: -20%;
    width: 75%;
  }

  .fg-features {
    padding: 120px 20px 10px;

    .fg-feature-icon {
      height: 44px;
      width: 44px;

      .feature-icons {
        width: 20px;
        height: 20px;
      }
    }

    .fg-feature-text {
      h3 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 4px;
      }

      p {
        font-size: 12px;
        line-height: 18px;
        margin: 0;
      }
    }
  }
}
