//Colors
$clr-primary: #92ab74;
$clr-secondary: #125946;
$clr-footer: "";
$clr-blue: #00b29a;
$clr-white: #fff;
$transparent-bg-color: rgba(0, 0, 0, 0);

//Spacing
// $gap-section-desktop: 80px;
$gap-section-mobile: 32px;


//Title
$title-fs-d: 28px;
$title-lh-d: 60px;
$title-align: left;
$title-fs-m: 20px;
$title-lh-m: 20px;
$title-fw-m: 700;


//Sub-title (Description)
$sub-fs-d: 20px;
$sub-fs-m: 12px;


//Paragraph
$p-fs-d: 16px;
$p-fs-m: 12px;


//Headline (H1)
$h1-fs-d: 60px;
$h1-fs-m: 28px;

//font weight
$fw-regular:400;
$fw-medium: 500;
$fw-bold:700;
$fw-extra-bold:800;



$mobile-breakpoint: 768px;


$navbar-height: 70px;
$link-color: white;
$link-hover-color: rgba(255, 255, 255, 0.8);
